.SinglPage
  width: 100%
  .products
    width: 100%
    margin-bottom: 70px
    .container
      width: 1170px
      padding: 0 15px
      margin: 0 auto
      box-sizing: border-box
      .title
        text-align: center
        color: #4d4d4d
        font-size: 24px
        font-weight: 900
        line-height: 24px
        text-transform: uppercase
        margin-bottom: 30px
      .listProduct
        display: flex
        justify-content: space-between