@import '../../../sass/variables'
@import '../../../sass/extend'

.NavigationPage
  margin-top: 40px
  width: 100%
  @extend .center-vertical
  justify-content: space-between

  .navigation
    width: 261px
    height: 44px
    background-color: #ffffff
    border: 1px solid #ebebeb
    border-radius: 3px
    @extend .all-center

    .listPage
      display: flex
      @extend .center-vertical
      & > li
        margin-right: 15px
      .controller                   
        &_link          
          color: #aaaaaa
          transition: 0.5s          
          &:hover
            color: $pink
            transform: scale(1.02)
          & > svg
            width: 8px
            height: 13px
        &:last-of-type
          margin-right: 0
        
      .numberPage
        font-size: 16px
        line-height: 16px
        font-weight: 600
        &_link
          color: #c4c4c4
          &_active
            color: $pink
          &:hover
            color: $pink
        &:nth-of-type(7), &:nth-of-type(8)
          margin-right: 0

  .viewAllBtn
    padding: 16px 45px
    border-radius: 3px
    border: 1px solid #ef5b70
    background-color: #ffffff
    color: #ef5b70
    font-size: 16px
    font-weight: bold
    line-height: 16px
    box-sizing: border-box
    cursor: pointer