.box
  position: relative
  .SelectColor
    width: 145px
    height: 35px
    border: 1px solid #eaeaea
    background-color: #ffffff
    box-sizing: border-box
    display: flex
    justify-content: space-between
    padding: 10px
    align-items: center
    cursor: pointer
    .item
      display: flex
      align-items: center
      .icon
        width: 12px
        height: 12px      
        margin-right: 11px
      .text
        color: #bcbcbc      
        font-size: 13px
        font-weight: 400
        line-height: 13px
    .btn    
      color: #bcbcbc
      font-size: 10px    
      line-height: 10px
      cursor: pointer
      & > svg
        font-weight: 400

  .option
    width: 145px  
    border: 1px solid #eaeaea
    background-color: #ffffff
    box-sizing: border-box
    position: absolute
    left: 0
    top: 34px
    .item
      display: flex
      cursor: pointer
      padding: 10px
      &:hover
          background: #F0FFFF
      .icon
        width: 12px
        height: 12px      
        margin-right: 11px
      .text
        color: #bcbcbc      
        font-size: 13px
        font-weight: 400
        line-height: 13px

.green
  background: green 

.red
  background: red

.blue
  background: blue