@import '../../sass/variables'
@import '../../sass/extend'

.slider
  width: 100%
  height: 613px
  background-color: #e8e8e8

  .sliderContainer
    width: 1170px
    height: 100%
    padding: 0 15px
    box-sizing: border-box
    margin: 0 auto
    background-image: url(./img/slider.jpg)
    background-position: 0 -51px

    .sliderDescription
      display: flex
      margin-top: 225px
      float: left
      &__line
        width: 12px
        height: 92px
        background-color: $pink
        margin-right: 12px
      &__box
        &__title
          color: #222222
          font-size: 60px
          line-height: 55px
          font-weight: 900
          text-transform: uppercase
        &__subtitle
          font-size: 40px
          font-weight: 900
          line-height: 45px
          & > span
            color: $pink

.promotion
  width: 100%
  .promotionContainer
    width: 1170px
    padding: 100px 15px 0px
    margin: 0 auto
    box-sizing: border-box
    display: flex
    justify-content: space-between
    &__column
      max-width: 560px

      .promotionMen,
      .promotionAccesories,
      .promotionWomen,
      .promotionKids
        width: 560px

      .promotionMen,
      .promotionKids
        height: 542px

      .promotionAccesories,
      .promotionWomen
        height: 260px

      .promotionMen
        background-image: url(./img/men.jpg)     

      .promotionAccesories
        background-image: url(./img/accesories.jpg)
        margin-top: 20px

      .promotionWomen        
        background-image: url(./img/women.jpg)

      .promotionKids
        background-image: url(./img/kids.jpg)
        margin-top: 20px

      .promotionText
        height: 82px
        background-color: #ffffff
        margin-top: 25px
        float: left
        padding: 16px 20px
        box-sizing: border-box
        color: #222222                  
        text-transform: uppercase
        &__title
          line-height: 18px
          font-size: 18px
          font-weight: 900
          margin-bottom: 12px
        &__subtitle
          color: $pink
          font-size: 30px
          font-weight: 900
          line-height: 26px

.feturedItems
  width: 100%
  .feturedItemsContainer
    width: 1170px
    padding: 100px 15px 0px
    margin: 0 auto
    box-sizing: border-box
  &__title
    text-align: center
    color: $black
    font-size: 30px
    font-weight: 700
    line-height: 30px
    letter-spacing: 0.75px
    margin-bottom: 16px
  &__text
    text-align: center
    color: $greyLight
    font-weight: 400
    line-height: 14px

.products
  width: 100%
  &__container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 1170px
    margin: 0 auto
    padding: 0px 15px
    box-sizing: border-box

.browseBtn
  width: 100%
  &__container
    width: 1170px
    margin: 0 auto
    display: flex
    justify-content: center
    padding: 80px 15px 110px
    box-sizing: border-box

    .btnBrowseAllProduct
      background-color: $pink
      @extend .all-center
      border: none
      padding: 18px 25px
      box-sizing: border-box     
      color: #ffffff
      font-size: 16px
      font-weight: 700
      line-height: 14px
      letter-spacing: 0.4px
      cursor: pointer
      transition: all 0.3s
      &:hover
        transform: scale(1.02)
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)
      &__img
        color: #ffffff
        font-size: 15px
        font-weight: 400
        line-height: 14px
        margin-left: 10px
    

