@import '../../../../sass/variables'
@import '../../../../sass/extend'

.ProductItem
  margin-top: 20px
  padding-bottom: 25px
  border-bottom: 1px solid #eaeaea
  display: flex
  align-items: center
  .productDetails
    flex-grow: 7
    display: flex
    flex-basis: 0
    .img
      display: block      
      margin-right: 20px
    .description
      padding: 10px 0
      .name
        color: $black    
        font-size: 13px
        font-weight: 400
        text-transform: uppercase
        margin-bottom: 38px
      .color, .size
        color: #6f6e6e
        font-size: 13px
        font-weight: 600
        line-height: 20px
        & > span 
          color: #575757
          font-weight: 300
          margin-left: 5px
  .unitePrice,
  .quantity,
  .shipping,
  .subtotal
    flex-grow: 2
    flex-basis: 0
    padding: 0 15px
    box-sizing: border-box
    .price
      text-align: center
      color: #656565     
      font-size: 13px
      font-weight: 400
  .quantity > input
    display: block
    margin: 0 auto
    width: 54px
    height: 30px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #656565
    text-align: center
    box-sizing: border-box
  .shipping, .subtotal
    color: #656565
    font-size: 13px
    font-weight: 400
    text-transform: uppercase
    text-align: center
    box-sizing: border-box
  .action
    flex-grow: 1
    flex-basis: 0
    display: flex
    justify-content: center
    padding-left: 15px
    & > svg
      padding-left: 15px
      width: 15px
      height: 15px
      color: #c0c0c0
      font-size: 16px
      font-weight: 400
      text-transform: uppercase
      cursor: pointer
      transition: color 0.3s
      &:hover
        color: $pink
        

  

      