@import '../../../sass/variables'
@import '../../../sass/extend'
@import '../../../sass/mixin'

.CuponDiscount
  max-width: 355px

  .title
    color: $black   
    font-size: 16px
    font-weight: 900
    text-transform: uppercase
    margin-bottom: 20px

  .description
    color: #000000
    font-weight: 400
    margin-bottom: 25px

  .input
    display: block
    width: 355px
    height: 45px
    border: 1px solid #eaeaea
    background-color: #ffffff
    padding: 16px 18px
    box-sizing: border-box
    color: #b1b1b1
    font-size: 13px
    font-weight: 300
    margin-bottom: 20px

  .btn
    min-width: 118px
    height: 35px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #4a4a4a
    font-size: 11px
    font-weight: 700
    text-transform: uppercase
    padding: 0px 18px
    box-sizing: border-box
    cursor: pointer
    transition: all 0.3s
    &:hover
      color: $pink
      border: 1px solid $pink