@import '../../../sass/variables'

.logo  
  font-family: "Lato"
  display: flex
  &__img
    width: 59px
    height: 51px
    margin-right: 13px
  &__name
    color: $black
    font-size: 27px
    font-weight: 300
    margin: 20px 0px 0px 0px
    line-height: 22px
  &__D
    color: $pink               
    font-weight: 600