@import '../../../sass/variables'
@import '../../../sass/extend'
  
.formSearch
  @extend .center-vertical
  font-family: Lato
  position: relative

  .btnBrowse
    width: 87px
    height: 38px
    padding: 0px
    border-radius: 3px 0 0 3px
    border: $border
    border-color: #cdcdcc
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
    color: $black    
    font-weight: 300
    line-height: 14px
    @extend .all-center
    outline: none
    cursor: pointer
    &__icon
      margin-left: 8px
      color: #838383
      font-size: 14px
      font-weight: 400
      line-height: 10px
      margin-bottom: 2px

  .dropList
    position: absolute
    top: 35px
    width: 262px
    border-radius: 5px
    border-color: #ffffff
    padding: 20px 20px 0px
    box-sizing: border-box
    border: $border
    background-color: #ffffff
    z-index: 10
    &:before
      content: ''
      position: absolute
      top: -5px
      left: 60px
      width: 10px
      height: 10px
      background: #fff
      border: $border
      border-right: none
      border-bottom: none
      transform: rotate(45deg)

    .title 
      color: #232323      
      font-size: 14px
      font-weight: 400
      line-height: 14px
      text-transform: uppercase
      border-bottom: 1px solid #e8eee8
      padding-bottom: 10px

    .list
      margin: 10px 0px 20px
      font-weight: 400      
      &__item
        line-height: 28px      
      &__link
        color: #4f4f4f
        transition: color .5s
        &:hover
          color: $pink    

  .inputSearch
    width: 280px
    height: 38px    
    border: $border
    border-left: none
    box-sizing: border-box
    @extend .center-vertical
    padding: 0px 15px    
    color: #a4a4a4
    font-family: Lato    
    font-weight: 300    

  .btnSearch
    width: 36px
    height: 38px
    border-radius: 0 3px 3px 0
    border: $border
    border-left: none
    background-color: #ffffff
    cursor: pointer
    &__icon
      font-size: 14px
      font-weight: 400
      color: #a4a4a4