@import '../../sass/variables'
@import '../../sass/extend'

.navigation
  height: 51px
  width: 100%
  font-family: "Lato"
  background-color: #ffffff

  .container    
    width: 1170px
    padding: 0px 15px
    box-sizing: border-box
    margin: 0 auto

    .navList
      display: flex
      width: 680px
      justify-content: space-between
      margin: 0 auto     
      font-weight: 700      
      text-transform: uppercase
      &__item
        position: relative
        flex-grow: 1
        text-align: center
        &__link
          display: block
          padding: 17px 10px 
          color: #222222
          transition: color 0.5s
          &:hover
            color: $pink

      .navList__item:hover .dropListMen,
      .navList__item:hover .dropListWomen,
      .navList__item:hover .dropListKids
        display: flex     

      .dropListMen, .dropListWomen, .dropListKids
        position: absolute
        top: 43px      
        padding: 20px 25px
        box-sizing: border-box
        border-radius: 5px
        background-color: #ffffff
        border: $border
        display: none
        justify-content: space-between
        width: 846px
        align-content: flex-start
        z-index: 5
        &:before
          content: ''
          position: absolute
          top: -6px          
          width: 10px
          height: 10px
          background: #fff
          border: $border
          border-right: none
          border-bottom: none
          transform: rotate(45deg)
          z-index: 10

      .dropListMen        
        left: 0px
        &:before
          left: 30px

      .dropListWomen
        left: -73px        
        &:before
          left: 118px

      .dropListKids
        left: -170px        
        &:before
          left: 200px

      .dropListNav
        width: 235px          
        &__title
          text-align: left
          color: #232323
          font-size: 14px
          font-weight: 400
          line-height: 14px
          text-transform: uppercase
          border-bottom: 1px solid #e8e8e8
          padding-bottom: 8px
          &_bottom
            margin-top: 35px
        &__list
          text-align: left                       
          font-weight: 400
          line-height: 14px
          text-transform: none
          &__item
            margin-top: 15px
            &__link
              color: #646464
              transition: color 0.5s
              &:hover
                color: $pink
        &__img
          display: block
          margin-top: 25px
          margin-left: -20px

          