@import '../../../sass/variables'
@import '../../../sass/extend'

.Accordion
  width: 100%
  .container
    position: relative
    width: 100%
    .title
      color: $black
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      cursor: pointer
      & > span
        margin-left: 10px
      &:hover
        color: $pink

    .main
      padding: 30px 0px 44px 35px
      padding-left: 35px
      box-sizing: border-box
      display: flex
      justify-content: space-between

      .caption
        color: $black
        font-size: 13px
        font-weight: 600
        text-transform: uppercase
        margin-bottom: 15px

      .subtitle
        color: #b3b2b2
        font-size: 13px
        font-weight: 400
        margin-bottom: 35px

      .boxRadio
        margin-bottom: 20px
        display: flex
        align-items: center

        & > input
          margin: 0 15px 0 0
          width: 14px
          height: 14px
          border: 2px solid #555555
          background-color: #ffffff

        & > label
          color: $black
          font-size: 12px
          font-weight: 600
          text-transform: uppercase

      .boxLinkTop
        margin-bottom: 30px

      .boxLink
        margin-bottom: 15px
        & > a
          color: #b3b2b2
          font-size: 13px
          font-weight: 400
          transition: color 0.3s
          &:hover
            color: $pink
          & > svg
            margin-right: 3px

      .btn
        margin-top: 20px
        width: 180px
        height: 50px
        border: 1px solid #eaeaea
        background-color: #ffffff
        color: #4a4a4a
        font-weight: 700
        text-transform: uppercase
        cursor: pointer
        transition: all 0.3s
        &:hover
          color: $pink
          border: 1px solid $pink

      .linkRegister
        color: #b3b2b2
        font-size: 13px
        font-weight: 400
        line-height: 13px

      .boxEmail, .boxPassword
        display: flex
        flex-direction: column
        margin-bottom: 15px
        
      .labelEmail, .labelPassword
        color: $black
        font-size: 12px
        font-weight: 600
        text-transform: uppercase
        margin-bottom: 10px
        & > span
          color: #ff0d0d
          font-size: 17px
          font-weight: 400

      .inputEmail, .inputPassword
        width: 390px
        height: 45px
        border: 1px solid #eaeaea
        background-color: #ffffff
        padding: 10px
        box-sizing: border-box

      .required
        color: #ff0d0d
        font-size: 13px
        font-weight: 400
        margin-bottom: 10px

      .forgotLink
        margin-left: 30px
        color: $black
        font-size: 14px
        font-weight: 400
        transition: color 0.5s
        &:hover
          color: $pink

    .line
      width: 1140px
      height: 1px
      background-color: #e8e8e8
      margin-top: 30px
      margin-bottom: 30px