@import '../../sass/variables'
@import '../../sass/extend'

.copyright
  width: 100%
  background-color: #e6e6e6
  &__container
    width: 1170px
    padding: 25px 15px
    box-sizing: border-box
    margin: 0 auto
    @extend .center-vertical
    justify-content: space-between

    .copyrightText
      color: #7a7a7a
      font-size: 16px
      font-weight: 400
      line-height: 16px

    .socialBox
      display: flex

      .socialIcon
        @extend .all-center
        width: 32px
        height: 32px
        background-color: #ffffff
        color: #b2b2b2
        font-size: 16px
        font-weight: 400
        margin-right: 8px
        transition: all 0.5s
        &:hover
          background-color: $pink
          color: #f7f7f8
        &_noLink
          @extend .all-center
          width: 32px
          height: 32px
          background-color: #ffffff
          color: #b2b2b2
          font-size: 16px
          font-weight: 400
          margin-right: 8px
          filter: brightness(50%)
          cursor: default