.ImageSlide
  width: 100%
  border-top: 1px solid #eaeaea
  border-bottom: 1px solid #eaeaea
  background-color: #f7f7f7
  box-sizing: border-box
  display: flex
  justify-content: space-between
  .ctlLeft, .ctlRight
    width: 47px
    height: 47px
    background-color: #bcbcbc
    display: flex
    align-items: center
    box-sizing: border-box
    margin-top: 20%
    color: #ffffff
    cursor: pointer
  .ctlLeft
    padding-left: 20px
  .ctlRight
    padding-left: 18px
  .container
    padding: 10px 15px 40px
    box-sizing: border-box
    margin: 0 auto
    width: 1170px
    .img
      display: block
      margin: 0 auto

.ProductDescription
  width: 100%
  margin-bottom: 120px