@import '../../../sass/variables'
@import '../../../sass/extend'

.cart
  position: relative

  .btnCartIcon
    background: none
    border: none
    outline: none
    cursor: pointer
    width: 32px
    height: 29px

  .listCartDrop
    position: absolute
    top: 45px
    left: -15px
    width: 262px    
    border-radius: 5px
    border-color: #ffffff
    border: $border
    padding: 18px
    box-sizing: border-box
    background-color: #ffffff
    z-index: 10
    &:before
      content: ''
      position: absolute
      top: -6px
      left: 27px
      width: 10px
      height: 10px
      background: #fff
      border: $border
      border-right: none
      border-bottom: none
      transform: rotate(45deg)

  .cartContent    
    margin-bottom: 20px

    .product
      display: flex
      margin-bottom: 15px
      padding-bottom: 15px
      border-bottom: 1px solid #ededed
      &__icon
        display: block
        width: 72px
        height: 85px
        margin-right: 15px
      &__name
        color: $black        
        font-size: 12px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 10px
      &__starBox
        line-height: 12px
      &__star
        color: #e4af48
        font-size: 12px
        font-weight: 400
        text-transform: uppercase
      &__priceBox
        color: $pink
        font-weight: 400
        text-transform: uppercase
        font-size: 10px
        margin-top: 10px
      &__count, &__price
        font-size: 12px
      &__actionBox
        border: none
        background: none
        outline: none     
        margin-left: auto
        display: flex
        align-items: center
      &__btnAction
        border: none
        background: none
        outline: none
        &__icon
          width: 15px
          height: 15px
          color: #c0c0c0
          font-size: 16px
          font-weight: 400
          text-transform: uppercase
          cursor: pointer
          transition: color 0.3s
          &:hover
            color: $pink


    .cartEmpty
      text-align: center
      font-size: 16px
      text-transform: uppercase
      color: $pink
      font-weight: 700
      padding: 15px 0px 30px
      border-bottom: 1px solid #ededed

  .cartTotal
    display: flex
    justify-content: space-between
    padding: 0px 0px 32px
    color: $black
    font-size: 16px
    font-weight: 700

  .btnCart
    @extend .all-center
    width: 225px
    height: 50px
    background-color: #ffffff
    border: 1px solid #eaeaea    
    color: #4a4a4a
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    transition: all 0.5s ease-out
    &:nth-child(3)
      margin-top: 10px
    &:hover      
      color: $pink
      border: 1px solid $pink

  .count
    position: absolute
    top: -8px
    left: 22px
    width: 19px
    height: 19px
    background-color: $pink
    border-radius: 19px
    @extend .all-center
    &__number
      color: #ffffff
      font-size: 12px
      font-weight: 700
      line-height: 32px