@import '../../sass/variables'
@import '../../sass/extend'

.offer
  width: 100%
  margin-bottom: 95px
  &__container
    width: 1170px
    padding: 0px 15px
    margin: 0 auto
    box-sizing: border-box

    .offerBox
      position: relative
      display: flex
      max-width: 1140px
      background-color: #222224

      .offerImg
        display: block
        max-width: 767px
        height: 100%

      .boxText
        position: absolute
        top: 145px
        left: 40px
        color: #ffffff
        font-weight: 700
        text-transform: uppercase
        &__title
          font-size: 54px
          line-height: 50px
          &_pink
            color: $pink
            margin-left: 18px
        &__subtitle
          font-size: 32px
          line-height: 32px
          margin-top: 5px
        
      .offerText
        padding: 35px
        box-sizing: border-box

        .delivery,
        .sales,
        .quality
          display: flex
          margin-bottom: 35px
          &__img
            display: block
            max-width: 47px
            height: 100%
            margin-right: 30px
          &__text
            color: #fbfbfb
            &__title              
              font-size: 20px
              font-weight: 700
              margin-bottom: 17px
              margin-top: 7px
            &__description
              font-size: 14px
              font-weight: 300
              line-height: 24px