@import '../../../sass/variables'
@import '../../../sass/extend'
@import '../../../sass/mixin'

.ProductDescription
  position: relative
  width: 1140px
  padding: 75px 249px 120px
  border: 1px solid #eaeaea
  background-color: #ffffff
  box-sizing: border-box
  margin: -85px auto 0
  .caption
    text-align: center
    color: $pink
    font-size: 14px
    font-weight: 700
    line-height: 14px
    text-transform: uppercase

  .boxLineCaption
    margin: 15px auto 20px
    @extend .center-vertical
    width: 150px

    .line
      width: 30%
      height: 1px      
      background-color: #eaeaea

    .lineCenter
      width: 40%
      height: 3px
      background-color: $pink

  .title
    text-align: center
    color: #4d4d4d
    font-size: 18px
    font-weight: 900
    line-height: 18px
    text-transform: uppercase
  
  .description
    text-align: justify
    text-align-last: center
    width: 620px
    color: #5e5e5e
    font-weight: 400
    line-height: 24px
    margin: 65px auto 25px
  
  .boxView
    display: flex
    justify-content: center
    &__column
      margin: 0 20px
      &__text
        color: #b9b9b9        
        font-weight: 700
        line-height: 14px
        text-transform: uppercase
        & > span
          color: #2f2f2f
  .price
    text-align: center
    color: $pink
    font-size: 24px
    font-weight: 700
    line-height: 24px
    margin-top: 35px
    margin-bottom: 55px

  .lineGreen
    width: 642px
    height: 1px
    background-color: #eaeaea

  .boxParametrs
    display: flex
    justify-content: space-between
    margin-top: 60px
    &__column
      &__title
        color: #2f2f2f
        font-size: 14px
        font-weight: 700
        line-height: 14px
        text-transform: uppercase
        margin-bottom: 16px
      .sizeSelect
        border: 1px solid #eaeaea
        background: #ffffff
        padding: 10px 14px
        box-sizing: border-box
        @include appearance(none)
        background-image: url(./img/select.png)
        background-position: 90% center
        background-repeat: no-repeat
        cursor: pointer
        color: #bcbcbc
        font-size: 13px
        font-weight: 400
        line-height: 14px
        width: 145px
      .inputQuantity
        border: 1px solid #eaeaea
        background: #ffffff
        padding: 10px 14px
        box-sizing: border-box
        color: #bcbcbc
        font-size: 13px
        font-weight: 400
        line-height: 14px
        width: 145px
  .addToCart
    width: 100%
    height: 55px
    border: 1px solid $pink
    background-color: #ffffff
    color: $pink
    font-size: 16px
    font-weight: 700
    @extend .all-center
    margin-top: 30px
    &__img
      display: block
      margin-right: 15px