@import '../../../sass/variables'
@import '../../../sass/extend'

.TrendingNow
  width: 283px
  .title
    color: #6f6e6e
    font-size: 14px
    font-weight: 700
    line-height: 14px
    text-transform: uppercase
  .navigation
    margin-top: 25px
    .list
      display: flex            
      font-weight: 600
      line-height: 14px
      margin-bottom: 15px
      &__item
        border-right: 2px solid #dfdfdf
        padding: 0px 10px
        &:last-of-type
          border-right: none
        &:first-of-type
          padding-left: 0px
        &__link
          color: #6f6e6e
          &:hover
            color: $pink