@import '../../../sass/variables'
@import '../../../sass/extend'

.btn
  display: flex
  @extend .all-center
  width: 130px
  height: 38px
  background-color: $pink
  border: none
  color: #ffffff
  font-size: 15px
  font-weight: 400
  line-height: 15px
  &__icon
    margin-left: 8px
    line-height: 15px