@import '../../../sass/variables'
@import '../../../sass/extend'

.Feature
  width: 100%
  min-height: 341px
  background-color: #222224
  .container
    width: 1170px
    padding: 90px 15px
    margin: 0 auto
    display: flex
    justify-content: space-between
    .column
      max-width: 310px
      display: flex
      flex-direction: column
      align-items: center
      .img
        display: block
        margin-bottom: 30px
      .title
        color: #fbfbfb
        font-size: 20px
        font-weight: 700
        margin-bottom: 17px
      .description
        color: #fbfbfb
        font-weight: 300
        line-height: 24px
        text-align: center
