@import '../../sass/variables'
@import '../../sass/extend'

.Breadcrumbs
  width: 100%
  background-color: #f8f3f4
  .container
    width: 1170px
    padding: 0px 15px
    @extend .center-vertical
    justify-content: space-between
    margin: 0 auto
    min-height: 148px
    .namePage
      color: $pink
      font-size: 24px
      font-weight: 900
      line-height: 24px
      text-transform: uppercase
    .navigation
      .list
        display: flex
        font-size: 14px
        line-height: 14px
        text-transform: uppercase        
        font-weight: 400 
        & > li
          margin-right: 2px
        &__item
          &__link
            color: #636363
            &_active
              color: $pink
              font-weight: 700