@import '../../sass/variables'
@import '../../sass/extend'

.container
  width: 1170px
  margin: 0 auto
  padding: 0 15px
  box-sizing: border-box

  .btnContainer
    display: flex
    justify-content: space-between
    margin-top: 45px
    margin-bottom: 65px

    .clearBtn, .countinueBtn
      width: 235px
      height: 50px
      border: 1px solid #eaeaea
      background-color: #ffffff
      color: #4a4a4a
      font-weight: 700
      text-transform: uppercase
      outline: none
      cursor: pointer
      transition: all 0.3s
      &:hover
        color: $pink
        border: 1px solid $pink

  .totalContainer
    display: flex
    justify-content: space-between
    margin-bottom: 80px