@import '../../../sass/variables'
@import '../../../sass/extend'

.Size
  width: 283px
  .title
    color: #6f6e6e
    font-size: 14px
    font-weight: 700
    line-height: 14px
    text-transform: uppercase
  .container
    margin-top: 25px
    display: flex
    flex-wrap: wrap
    .boxSize
      @extend .center-vertical
      color: #6f6e6e
      font-family: "Open Sans"
      font-size: 14px
      font-weight: 400
      text-transform: uppercase
      margin-right: 10px
      flex-basis: 55px
      margin-bottom: 10px
      & > input
        display: block
        width: 13px
        height: 13px
        border: 1px solid #ebebeb
        background: #ffffff
        margin-right: 8px