@import '../../../sass/variables'
@import '../../../sass/extend'
@import '../../../sass/mixin'

.ShippingAddress
  max-width: 355px

  .title
    color: $black   
    font-size: 16px
    font-weight: 900
    text-transform: uppercase
    margin-bottom: 20px

  .select
    width: 355px
    height: 45px
    padding: 16px 18px
    color: #b1b1b1
    font-size: 13px
    font-weight: 300
    line-height: 13px
    border: 1px solid #eaeaea
    background-color: #ffffff
    @include appearance(none)
    background-image: url(img/icon-select.png)
    background-position: 95% center
    background-repeat: no-repeat
    margin-bottom: 20px
    cursor: pointer

  .input
    display: block
    width: 355px
    height: 45px
    border: 1px solid #eaeaea
    background-color: #ffffff
    padding: 16px 18px
    box-sizing: border-box
    color: #b1b1b1
    font-size: 13px
    font-weight: 300
    margin-bottom: 20px

  .btn
    min-width: 100px
    height: 35px
    border: 1px solid #eaeaea
    background-color: #ffffff
    box-sizing: border-box
    color: #4a4a4a
    font-size: 11px
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    transition: all 0.3s
    &:hover
      color: $pink
      border: 1px solid $pink