@import '../../../sass/variables'
@import '../../../sass/extend'

.productBox
  position: relative
  width: 260px
  margin-top: 40px
  transition: transform 0.1s
  &:hover
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)
    background-color: #ffffff
    transform: scale(1.02)    
  &:hover .product__img
    filter: brightness(40%)
  &:hover .boxBtn
    display: flex    

  .product    
    &__img
      display: block
      max-width: 260px
      max-height: 280px
    &_description
      padding: 20px 15px
      box-sizing: border-box
      &__name
        color: $black
        font-size: 13px
        font-weight: 700
        text-transform: uppercase
        line-height: 13px
        margin-bottom: 17px
      &__price
        color: $pink
        font-size: 16px
        line-height: 16px
        font-weight: 700
        text-transform: uppercase

  .boxBtn
    position: absolute
    top: 100px
    width: 260px
    display: none
    justify-content: center    

    .buyBtn
      max-width: 125px
      color: #ffffff
      font-size: 13px
      font-weight: 700
      padding: 8px 12px
      box-sizing: border-box
      border: 1px solid #ffffff
      background: none
      @extend .center-vertical
      cursor: pointer
      outline: none
      &__img
        display: block
        width: 23px
        height: 22px
        margin-right: 8px