@import '../../../sass/variables'
@import '../../../sass/extend'
@import '../../../sass/mixin'

.Sort
  width: 846px
  height: 50px
  background-color: #f3f3f3
  margin-top: 30px
  margin-bottom: 10px
  @extend .center-vertical
  padding: 10px 0px
  box-sizing: border-box
  .sortBy, .show
    display: flex
    margin-left: 10px
    .title
      width: 65px
      height: 30px
      color: #6f6e6e
      font-weight: 500      
      border: 1px solid #ebebeb
      background-color: #ffffff
      @extend .all-center
      &:last-of-type
        width: 55px
    .selectSortBy
      border: 1px solid #ebebeb
      background-color: #ffffff
      padding: 7px 39px 7px 10px
      @include appearance(none)
      background-image: url(img/sort.png)
      background-position: 90% center
      background-repeat: no-repeat
      color: #6f6e6e
      font-size: 14px
      font-weight: 400
      line-height: 14px