@import '../../../sass/variables'
@import '../../../sass/extend'

.Price
  width: 283px
  
  .title
    color: #6f6e6e
    font-size: 14px
    font-weight: 700
    line-height: 14px
    text-transform: uppercase
    margin-bottom: 25px

  .sliderPrice
    display: flex
    justify-content: space-between
    margin-top: 20px
    & > span
      color: #6f6e6e
      font-size: 14px
      font-weight: 400
      line-height: 14px