@import '../../sass/variables'
@import '../../sass/extend'

.header
  height: 100px
  width: 100%
  font-family: "Lato"
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
  border-bottom: 1px solid #ececec
  background-color: #ffffff
  box-sizing: border-box
  
  .container    
    width: 1170px
    padding: 25px 15px 0px
    box-sizing: border-box
    margin:  0 auto
    display: flex

  .SearchForm
    margin-left: 37px
    margin-top: 7px
    margin: 7px 00px 0px 37px

  .cartBox
    display: flex
    margin-left: auto
    &__cart
      margin-right: 26px
      padding-top: 7px