.ProductsPage
  width: 100%
  .main
    width: 100%
    .container
      width: 1170px
      margin: 0 auto
      padding: 60px 15px 110px
      box-sizing: border-box
      display: flex
      justify-content: space-between
      .column
        &:last-of-type
          margin-left: 50px
        .filtres, .products
          max-width: 849px
          display: flex
          justify-content: space-between
        .products
          flex-wrap: wrap