@import '../../sass/variables'
@import '../../sass/extend'

.subscribe
  background: url(./img/bg.jpg) no-repeat
  height: 438px
  background-position: center
  background-size: 102%
  &__container
    display: flex
    width: 1170px
    padding: 0 15px
    box-sizing: border-box
    margin: 0 auto

    .sliderBox, .subscribeBox
      width: 50%
      height:  438px

    .sliderBox
      border-right: 0.5px solid #ffffff
      box-sizing: border-box
      padding: 120px 70px 10px 0px

    .subscribeBox
      border-left: 0.5px solid #ffffff
      box-sizing: border-box

    .sliderContainer
      display: flex
      &__img
        margin-right: 20px
        display: block
        max-width: 83px
        max-height: 83px
      &__textBox
        max-width: 385px
        padding: 10px 
        box-sizing: border-box
        font-size: 16px
        &__description
          color: $black          
          font-style: italic
          line-height: 24px          
        &__title
          color: $pink          
          font-weight: 700
          line-height: 26px
          margin-top: 10px
        &__subtitle
          color: $black
          font-size: 12px
          font-weight: 400
          line-height: 14px
        &__indicators
          display: flex
          margin-top: 45px
          & > li
            width: 38px
            height: 4px
            background-color: #d6d6d6
            margin-right: 15px
          .indicator__active
            background-color: $pink
    
    .subscribeBox
      padding: 150px 0px 0px 90px
      text-align: center
      &__title        
        color: $black
        font-size: 24px
        font-weight: 400
        line-height: 24px
        text-transform: uppercase
      &__subtitle               
        text-transform: uppercase
        line-height: 14px
        margin-top: 10px
      &__form
        margin-top: 35px
        height: 46px
        &__input
          min-width: 280px
          height: 100%
          padding: 15px 28px
          box-sizing: border-box
          border: none
          border-radius: 23px 0 0 23px
          background-color: #e1e1e1
          color: $black
          font-size: 14px
          font-weight: 400
          line-height: 14px
          outline: none
        &__submit
          min-width: 105px
          height: 100%
          border-radius: 0 23px 23px 0
          background-color: $pink
          border: none
          color: #ffffff
          font-weight: 400
          outline: none
          cursor: pointer
