@import '../../../sass/variables'
@import '../../../sass/extend'

.FilterName
  .category
    @extend .center-vertical
    justify-content: space-between
    border-left: 5px solid #ef5b70
    border-bottom: 1px solid #ebebeb
    margin-bottom: 20px
    min-height: 37px
    width: 243px
    box-sizing: border-box
    cursor: pointer
    .title
      color: #ef5b70
      font-family: Lato
      font-size: 14px
      font-weight: 700
      line-height: 20px
      text-transform: uppercase
      margin-left: 10px
    .iconOpen, .iconClose
      margin-right: 7px      
      font-size: 14px
      font-weight: 400
    .iconOpen
      color: #ef5b70
    .iconClose
      color: #6f6e6e
  .navigation
    padding-left: 20px    
    box-sizing: border-box
    display: none
    &_open
      padding-left: 20px    
      box-sizing: border-box
      display: block
      .list           
        font-weight: 400
        line-height: 14px
        &__item
          margin-bottom: 20px
          &__link
            color: #6f6e6e
            transition: color 0.5s
            &:hover
              color: $pink
    