@import '../../sass/variables'
@import '../../sass/extend'

.footer 
  width: 100%
  &__container
    width: 1170px
    margin: 0 auto
    padding: 110px 15px 90px
    box-sizing: border-box
    display: flex

    .footerDescription
      max-width: 430px
      padding: 0px 7px
      box-sizing: border-box
      & > p
        margin-top: 30px        
        color: #898989
        font-weight: 300
        line-height: 24px

    .navigations
      display: flex
      justify-content: space-between
      padding: 14px 0px 0px 55px
      box-sizing: border-box
      width: 1140px - 430px
      .navigation    
        &__title 
          color: $pink
          font-size: 18px
          font-weight: 700
          line-height: 18px
          text-transform: uppercase
          margin-bottom: 45px
      .list
        &__item
          margin-bottom: 30px         
          font-size: 16px
          font-weight: 400
          line-height: 16px
          &:last-of-type
            margin-bottom: 0
          &__link
            color: #898989
            transition: color 0.5s
            &:hover
              color: $pink
          
