@import '../../../sass/variables'
@import '../../../sass/extend'
@import '../../../sass/mixin'

.Total
  max-width: 360px
  height: 214px
  background-color: #f5f3f3
  padding: 40px 43px
  box-sizing: border-box

  .subTotal
    text-align: right
    color: #4a4a4a
    font-size: 11px
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 15px
    & > span 
      margin-left: 15px

  .grandTotal
    text-align: right
    color: $black
    font-size: 16px
    font-weight: 900
    text-transform: uppercase
    margin-bottom: 20px
    & > span
      color: $pink
      margin-left: 20px

  .line
    width: 275px
    height: 1px
    background-color: #e2e2e2
    margin-bottom: 20px

  .btn
    @extend .all-center
    min-width: 273px
    height: 50px
    background-color: $pink
    border: none
    color: #ffffff
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    transition: all 0.3s
    &:hover
      color: $pink
      border: 1px solid $pink
      background: #ffffff