@import '../../../sass/variables'
@import '../../../sass/extend'

.ProductList
  width: 100%

  .container
    width: 1170px
    margin: 0 auto
    padding: 90px 15px 0
    box-sizing: border-box

    .caption
      display: flex
      color: #222222      
      text-transform: uppercase
      border-bottom: 1px solid #eaeaea

      .title
        font-weight: 700
        line-height: 13px
        font-size: 13px
        flex-basis: 0
        flex-grow: 2
        padding: 0px 15px 20px
        box-sizing: border-box
        text-align: center
        &:first-of-type
          flex-grow: 7
          padding-left: 0
          text-align: left
        &:last-of-type
          padding-right: 0
          text-align: right
          flex-grow: 1
      